<div class="driver-trips-container">
    <div class="trips-header">
    <h1>My Trips</h1>
    <a routerLink="/driver/trips/create" class="btn btn-primary"> + New Trip </a>
  </div>

  @if (error()) {
    <div class="alert alert-error">
      <span>{{ error() }}</span>
    </div>
  }

  @if (isLoading()) {
    <div class="loading">
      <p>Loading your trips...</p>
    </div>
  } @else {

    <app-filter-bar-component
          (filterChanged)="handleFilterChange($event)"/>
    
    @if (displayedTrips().length === 0) {
      <div class="empty-state">
        <p>You haven't created any trips yet.</p>
        <a routerLink="/driver/trips/create" class="btn btn-primary">Create First Trip</a>
      </div>
    } @else {
        <div class="trips-list">
          @for (trip of displayedTrips(); track trip.id) {
            <app-trip-card-component
              [trip]="trip"
              [mode]="UserRole.DRIVER"
              (deleteClick)="deleteTrip($event)" />
          }
        </div>

        <app-pagination-component
          [currentPage]="pagination.currentPage()"
          [totalPages]="pagination.totalPages()"
          [hasPreviousPage]="pagination.hasPreviousPage()"
          [hasNextPage]="pagination.hasNextPage()"
          (previousPageClick)="previousPage()"
          (nextPageClick)="nextPage()" />
    }
  }
</div>